* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

label {
    cursor: pointer;
    margin-right: 1em;
}

input[type="checkbox"] {
    cursor: pointer;
    padding: 0 20px;
}

form {
    margin: 0 auto;
}

#accView ul {
    padding-left: 0;
}

#accView li {
    list-style-type: none;
    padding: 20px;
}

#accView li:nth-child(even) {
    background-color: rgb(224, 223, 223);
}

#accView li:nth-child(odd) {
    background-color: rgb(199, 199, 199);
}

#accView li button {
    float: right;
    margin-right: 200px;
}



/* General CSS to not overwrite */

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
